html,
body {
    margin: 0;
    padding: 1rem;
    text-align: center;
    color: darkslategray;
    font-family: 'Press Start 2P', cursive;
    font-weight: 700;
}

.container {
    padding: 0.5rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid darkslategray;
    border-radius: 4px;
    box-shadow: .4em .4em .4em grey;
    width: 400px;
    height: 400px;
    margin: 10px auto;
    background: linear-gradient(45deg, goldenrod, teal);
}

.gridCells {
    width: 40px;
    height: 40px;
}

.snake {
    background-color: darkslategray;
    border-radius: 10px;
}

.apple {
    background: linear-gradient(to right, orange, orangered);
    border-radius: 50px;
}

.gameOver {
    margin: 0;
    padding: 2rem;
    font-size: 2rem;
    color: darkslategray;
    font-family: sans-serif;
}

.overlay {
    max-width: 50%;
    max-height: 20%;
    margin: 0 auto;
    background: linear-gradient(to right, orange, orangered);
    display: none;
    border-radius: 1rem;
    font-family: 'Press Start 2P', cursive;
}

#start {
    border-radius: 10px;
    border: none;
    padding: 1rem;
    background: darkslategray;
    color: white;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
}

.icon {
    display: flex;
    justify-content: center;
}

small {
    font-family: calibri, 'Trebuchet MS', sans-serif;
}

#mobileControls {
        margin-top: 1rem;
        display: none;
    }

/* seletions {
    font-family: 'Caveat', cursive;

    font-family: 'Orbitron', sans-serif;

    font-family: 'Permanent Marker', cursive;

    font-family: 'Press Start 2P', cursive;
} */

@media screen and (max-width : 600px) {
    body {
        padding: 0;
        margin: 0;
        font-size: 1rem;
        margin-left: -10px;
    }
    
    .container {
        width: 100%;
        height: 100%;
        margin: 0;
    } 

    .grid {
        border-radius: 2px;
        box-shadow: .2em .2em .2em grey;
        width: 200px;
        height: 200px;
        margin: 0px auto;
        border: 1px solid;
    }

    .gridCells {
        width: 20px;
        height: 20px;
    }

    .overlay {
        max-width: 50%;
        max-height: 20%;
        margin: 0 auto;
        border-radius: 1rem;
        font-size: 1rem;
    }

    .snake {
        border-radius: 5px;
    }

    #mobileControls {
        margin-top: 1rem;
        display: block;
    }

    #mobileControls> button {
        padding: .8rem;
        cursor: pointer;
    }

}